<div tabindex="-1" ref="dragComponent" class="builder-component">
  
    <div data-noattach="true" class="component-btn-group">
      <div ref="removeComponent" class="btn btn-xxs btn-danger component-settings-button component-settings-button-remove" tabindex="-1" aria-label="Remove button. Click to remove component from the form" role="button">
        <i class="fa fa-remove bi bi-trash"></i>
      </div>
      <div ref="copyComponent" class="btn btn-xxs btn-default component-settings-button component-settings-button-copy" tabindex="-1" aria-label="Copy button. Click to copy component" role="button">
        <i class="fa fa-copy bi bi-back"></i>
      </div>
      <div ref="pasteComponent" class="btn btn-xxs btn-default component-settings-button component-settings-button-paste" tabindex="-1" aria-label="Paste below button. Click to paste component below the current component" role="button">
        <i class="fa fa-save bi bi-save"></i>
      </div>
      <div ref="editJson" class="btn btn-xxs btn-default component-settings-button component-settings-button-edit-json" tabindex="-1" aria-label="Edit json button. Click to edit json of the current component" role="button">
        <i class="fa fa-wrench bi bi-wrench"></i>
      </div>
      <div ref="moveComponent" class="btn btn-xxs btn-default component-settings-button component-settings-button-move" tabindex="-1" aria-label="Move button" role="button">
        <i class="fa fa-move bi bi-arrows-move"></i>
      </div>
      <div ref="editComponent" class="btn btn-xxs btn-secondary component-settings-button component-settings-button-edit" tabindex="-1" aria-label="Edit button. Click to open component settings modal window" role="button">
        <i class="fa fa-cog bi bi-gear"></i>
      </div>
    </div>
  
  <div ref="component" class="mb-2 formio-form-group has-feedback formio-component formio-component-textfield formio-component-textField limau, ice" id="enuyfr7">
  
  <div class="field-wrapper">
  
    <div style="flex: 30;  margin-left: 3%;" class="field-label">
    <label id="l-enuyfr7-textField" for="enuyfr7-textField" class="col-form-label" ref="label">Text Field
  
  
    <i data-tooltip="tooltip" class="fa fa-question-sign bi bi-question-circle text-muted" tabindex="0" ref="tooltip" aria-expanded="false"></i>
  
    </label>

  </div>
  

  

  <div style="flex: 67; ; ;" class="field-content">
    <div ref="element">        
<div class="input-group">  
  
    <div ref="prefix" class="input-group-text">
      
        prefix
      
    </div>
  
  
    <input aria-required="false" aria-labelledby="l-enuyfr7-textField d-enuyfr7-textField" id="enuyfr7-textField" value="" spellcheck="true" placeholder="Test" autocomplete="off" lang="en" class="form-control" type="text" name="data[textField]" ref="input">
    




  <div ref="suffix" class="input-group-text">
    
      suffix
    
  </div>


  </div>



        </div>
  </div>
</div>


  <div class="form-text text-muted">desc</div>


  <div class="formio-errors invalid-feedback" ref="messageContainer"></div>
  
</div>

</div>